/* ----------------------GLOBAL---------------------------- */
/* ----------------------GLOBAL---------------------------- */
* {
  font-family: "Manrope", sans-serif;
  color: #1E1B1B;
  font-weight: 600;
}

@media (prefers-reduced-motion: no-preference) {
  html {
    scroll-behavior: smooth;
  }
}

address {
  font-style: normal;
}

label,
button,
select,
summary,
[type=radio],
[type=submit],
[type=checkbox] {
  cursor: pointer;
}

.wrapper {
  min-height: 100%;
  width: 100%;
  overflow: hidden;
}

.overlay {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background: #00000043;
  z-index: 50;
  visibility: hidden;
  opacity: 0;
  transition: all .3s;
}

.overlay--show {
  opacity: 1;
  visibility: visible;
}

.burger {
  display: none;
}

.logo {}

.container {
  max-width: 1310px;
  padding: 0 15px;
  margin: 0 auto;
  height: 100%;
}

.btn {
  display: inline-block;
  padding: 16px 40px;
  background: #FF6433;
  border-radius: 12px;
  font-size: 18px;
  line-height: 175%;
  color: #FFFFFF;
  transition: transform .5s;
  white-space: nowrap;
}

.btn:hover {
  transform: scale(1.03);
  transition: transform .3s;
}

.rectangle {
  padding: 17px 5px 15px;
  background: linear-gradient(138.85deg, #FFFFFF -38.72%, #FFFFFF 153.95%);
  box-shadow: 0px 0px 0px 12px rgba(202, 202, 202, 0.456);
  border-radius: 59px;
}

.header__adaptive-rectangles-box {
  display: none;
}

::-webkit-scrollbar {
  width: 12px;
  height: 12px;
  border-radius: 100px;
  background: rgba(145, 145, 145, 0.716);
}

::-webkit-scrollbar-thumb {
  background: rgba(118, 118, 118, 0.81);
  border-radius: 100px;
}

::-webkit-scrollbar-thumb:hover {
  background: rgba(101, 101, 101, 0.81);
}

/* --------------------------HEADER-TOP-------------------------- */
/* --------------------------HEADER-TOP-------------------------- */

.header {
  padding-bottom: 135px;
}

.header__top {}

.header__top-inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 18px 0 80px;
}

.header__logo {
  margin-right: 474.59px;
}

.header__nav {
  margin-right: auto;
}

.header__nav-list {
  display: flex;
}

.header__nav-item {
  margin-right: 40px;
  white-space: nowrap;
}

.header__nav-item:last-child {
  margin: 0;
}

.header__nav-item:last-child::after {
  content: "";
  opacity: 0.36;
  border-left: 1px solid #939191;
  min-height: 42px;
  margin: 0 32px;
}

.header__nav-link {
  line-height: 175%;
  transition: color .5s;
}

.header__nav-link:hover {
  color: #FF6433;
  transition: color .3s;
}

.header__tel-title {
  font-size: 16px;
  font-weight: 500;
  line-height: 150%;
  opacity: 0.7;
}

.header__tel-box {
  white-space: nowrap;
  font-size: 18px;
  line-height: 175%;
  display: flex;
  position: relative;
  padding-left: 34px;
}

.header__tel-box::before {
  content: "";
  background: url("../images/header/Assistance Icon.svg");
  position: absolute;
  top: 50%;
  left: 0;
  height: 40px;
  width: 40px;
  transform: translate(-50%, -50%);
}

.header__tel-link {}

/* --------------------------HEADER-BODY-------------------------- */
/* --------------------------HEADER-BODY-------------------------- */

.header__body-inner {
  display: flex;
  flex-direction: column;
  margin: auto 0;
}

.header__main {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__content {
  margin-right: 30px;
}

.header__title {
  font-weight: 800;
  font-size: 64px;
  line-height: 131.25%;
  letter-spacing: -0.03em;
  max-width: 630px;
  margin-bottom: 32px;
}

.header__btn-box {
  display: flex;
  align-items: center;
  position: relative;
  margin-bottom: 48px;
  white-space: nowrap;
}

.header__btn {
  margin-right: 62px;
}

.header__play-btn {
  position: relative;
  padding-left: 16.5px;
  transition: transform .3s;
}

.header__play-btn:hover {
  transform: scale(1.03);
}

.header__play-icon {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translate(-50%, -50%);
}

.header__time-box {
  margin-left: 18px;
}

.header__work-time {
  display: flex;
  position: relative;
  padding-left: 28.52px;
  flex-direction: column;
  margin-bottom: 30px;
}

.header__work-time::before {
  content: "";
  background: url("../images/header/clock.svg") no-repeat;
  position: absolute;
  top: 50%;
  left: 0;
  height: 30.94px;
  width: 30.94px;
  transform: translate(-50%, -50%);
}

.header__work-title {
  font-weight: 500;
  line-height: 150%;
  color: #939191;
}

.header__work-desc {
  font-size: 18px;
  line-height: 175%;
}

.header__image {
  max-width: 610px;
}

.header__right-box {
  position: relative;
}

.header__service-box {
  display: flex;
  align-items: center;
  left: -4.13%;
  top: 12.5%;
  position: absolute;
  min-width: 282px;
}

.header__service {
  font-size: 24px;
  line-height: 150%;
  letter-spacing: -0.03em;
  margin-left: 16px;
}

.header__service-time {
  text-align: center;
  background: #5CBA99;
  font-size: 24px;
  line-height: 150%;
  letter-spacing: -0.03em;
  color: #FFFFFF;
  border-radius: 50%;
  width: 69.66px;
  height: 70px;
  padding: 17px 0;
  margin-left: 8.93px;
}

.header__rating-box {
  display: flex;
  position: absolute;
  flex-direction: column;
  align-items: center;
  width: 326px;
  padding-right: 200px;
  color: #000000;
  padding-left: 38px;
  padding: 21px 200px 21px 38px;
  right: -15px;
  bottom: 10%;
}

.header__rating-box::after {
  content: "";
  background: url("../images/header/Stars.svg") no-repeat;
  position: absolute;
  top: 50%;
  left: 50%;
  height: 36px;
  width: 185px;
  transform: translate(-50%, -50%);
  justify-self: end;
  margin-left: 43px;
}

.header__rating-points {
  font-size: 24px;
  line-height: 150%;
  letter-spacing: -0.03em;
}

.header__rating-title {
  font-weight: 500;
  line-height: 150%;
  opacity: 0.7;
}

/* ---------------------------ABOUT------------------------- */
/* ---------------------------ABOUT------------------------- */

.main {}

.about {
  background: #F2F2F2;
  padding-bottom: 192px;
}

.about__inner {
  display: flex;
  flex-direction: column;
  margin: auto 0;
  align-items: center;
  justify-content: space-between;
}

.about__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 860px;
  margin-bottom: 64px;
}

.about__subtitle {
  margin-top: 128px;
  font-size: 24px;
  line-height: 150%;
  text-align: center;
  letter-spacing: -0.03em;
}

.about__title {
  font-weight: 800;
  font-size: 58px;
  line-height: 131.03%;
  text-align: center;
  letter-spacing: -0.03em;
  max-width: 858px;
}

.about__offers-box {
  display: grid;
  grid: 1fr 1fr / 1fr 1fr 1fr 1fr;
  gap: 8px;
  margin-bottom: 32px;
  width: 100%;
  padding: 0 30px;
}

.about__offer {
  background: #FFFFFF;
  text-align: center;
  min-width: 171px;
  height: 232px;
  font-size: 24px;
  line-height: 150%;
  text-align: center;
  letter-spacing: -0.03em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: all .5s;
  padding: 10px;
}

.about__offer-img {
  margin-bottom: 16px;
  transition: all .1s;
}

#wheel {
  -webkit-filter: grayscale(100) brightness(0);
  filter: grayscale(100) brightness(0);
}

.about__offer:hover #wheel {
  -webkit-filter: grayscale(100) brightness(200);
  filter: grayscale(100) brightness(200);
  transition: all .3s;
}

.about__offer:hover .about__offer-img {
  -webkit-filter: grayscale(100) brightness(200);
  filter: grayscale(100) brightness(200);
}

.about__offer:hover {
  background: #FF6433;
  transform: scale(1.03);
  color: #FFFFFF;
  transition: all .3s;
}

.about__more {
  font-size: 18px;
  line-height: 175%;
  align-self: flex-end;
  transition: color .5s;
}

.about__more:hover {
  color: #FF6433;
  transition: color .3s;
}

.about__more svg {
  margin-left: 16px;
}

/* -------------------------PROCESS------------------------- */
/* -------------------------PROCESS------------------------- */

.process {}

.process__inner {
  padding-top: 218px;
  display: flex;
  margin: auto 0;
  padding: 218px 81px 104px 112px;
}

.process__content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-right: 131px;
}

.process__title {
  font-weight: 800;
  font-size: 58px;
  line-height: 131.03%;
  letter-spacing: -0.03em;
  margin-bottom: 17px;
  max-width: 800px;
}

.process__desc {
  line-height: 175%;
  opacity: 0.6;
  margin-bottom: 36.01px;
  max-width: 440px;
}

.process__btn {
  margin-bottom: 40px;
}

.process__steps {}

.process__steplist {}

.process__steplist-item {
  position: relative;
  padding-bottom: 53px;
  display: flex;
  flex-direction: column;
  max-width: 450px;
}

.process__steplist-item:last-child {
  margin-bottom: 0;
}

.process__steplist-marker {
  position: absolute;
  transform: translate(-100%, -19%);
  padding-right: 24px;
  padding-bottom: 17px;
}

.process__steplist-title {
  font-weight: 700;
  font-size: 32px;
  line-height: 150%;
  letter-spacing: -0.03em;
  margin-bottom: 8.5px;
  white-space: nowrap;
}

.process__steplist-desc {
  font-size: 18px;
  line-height: 175%;
  opacity: 0.6;
}

.process__steplist-desc::before {
  content: "";
  display: block;
  float: left;
  height: 75.42px;
  border-right: 2px dashed #FF6433;
  left: -60px;
  margin-top: 17px;
  position: absolute;
}

.desc-3::before {
  visibility: hidden;
}

/* --------------------EXPERIENCE--------------------------- */
/* --------------------EXPERIENCE--------------------------- */

.experience {
  margin-bottom: 48px;
}

.experience__inner {}

.experience__content {
  display: flex;
  flex-direction: row;
}

.experience__img-box {
  display: flex;
  position: relative;
  transform: translate(-130px);
}

.experience__img {
  max-height: 502px;
}

.experience__img--car {
  max-width: 976px;
}

.experience__rectangle {
  width: 729px;
  height: 502px;
  background: #FF6433;
  z-index: 1;
  position: absolute;
  left: 318px;
  display: flex;
  flex-direction: column;
  padding: 0px 80px 0px 61px;
  align-items: flex-start;
  justify-content: center;
}

.experience__heading {
  font-weight: 700;
  font-size: 48px;
  line-height: 140%;
  letter-spacing: -0.03em;
  color: #FFFFFF;
  margin-bottom: 48px;
}

.experience__btn {
  display: inline-flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 10px;
  background: #1E1B1B;
}

.experience__row {}

.experience__list {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.experience__list-item {}

.experience__title {
  font-weight: 800;
  font-size: 58px;
  line-height: 131.03%;
  text-align: left;
  letter-spacing: -0.03em;
  color: #661CE7;
}

.experience__desc {
  font-weight: 600;
  font-size: 24px;
  line-height: 150%;
  letter-spacing: -0.03em;
  opacity: 0.7;
}

/* -----------------------BRANDS---------------------------- */
/* -----------------------BRANDS---------------------------- */

.brands {
  background: #E2E6E9;
}

.brands__inner {
  display: flex;
  flex-direction: column;
  margin: auto 0;
  align-items: center;
  justify-content: center;
  padding-top: 128px;
}

.brands__title {
  font-weight: 800;
  font-size: 58px;
  line-height: 131.03%;
  text-align: center;
  letter-spacing: -0.03em;
}

.brands__box {
  margin-top: 31px;
  margin-bottom: 81.64px;
}

.brands__list {
  display: flex;
  flex-direction: column;
}

.brands__list-item {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.brands__img {
  opacity: 0.6;
  transition: opacity .5s;
}

.brands__img:hover {
  opacity: 1;
  transition: opacity .3s;
}

/* -------------------------BLOG----------------------------- */
/* -------------------------BLOG----------------------------- */

.blog {
  padding: 131px 0 72px;
}

.blog__inner {
  display: flex;
  flex-direction: column;
  margin: auto 0;
}

.blog__title {
  font-weight: 800;
  font-size: 58px;
  line-height: 131.03%;
  letter-spacing: -0.03em;
}

.blog__body {}

.blog__btn-list {
  display: flex;
  margin: 47px 0;
}

.blog__btn-list-item {
  margin-right: 30px;
}

.blog__btn-list-item:last-child {
  margin-right: 0;
}

.blog__btn {
  font-weight: 700;
  font-size: 32px;
  line-height: 150%;
  letter-spacing: -0.03em;
  background: none;
  position: relative;
}

.blog__btn::after {
  position: absolute;
  content: '';
  left: 50%;
  transform: translateX(-50%);
  bottom: 0;
  display: block;
  width: 0;
  height: 3px;
  background: #FF6433;
  transition: width .4s;
}

.blog__btn:hover::after {
  width: 100%;
  transition: width .3s;
}

.blog__sort {}

.blog__list {
  display: grid;
  grid-template: repeat(2, auto) / repeat(3, 1fr);
  gap: 32px;
}

.mix {}

.latest {}

.blog__list-item {
  max-width: 405px;
  margin-bottom: 64px;
}

.blog__post-img {
  margin-bottom: 24px;
}

.blog__post-date {
  line-height: 175%;
  color: #939191;
  margin-bottom: 16px;
  max-width: 215px;
}

.blog__post-title {
  font-weight: 700;
  font-size: 32px;
  line-height: 150%;
  letter-spacing: -0.03em;
  margin-bottom: 16px;
  max-width: 373px;
}

.blog__post-desc {
  line-height: 175%;
  color: #232536;
  max-width: 385px;
}

.popular {}

.favorites {}

/* -----------------------REVIEW----------------------------- */
/* -----------------------REVIEW----------------------------- */

.main__review {
  background: #F2F2F2;
  mix-blend-mode: multiply;
}

.review {}

.review__inner {
  display: flex;
  flex-direction: column;
  padding: 128px 0 159px;
  margin: auto 0;
}

.review-title {
  font-weight: 800;
  font-size: 58px;
  line-height: 131.03%;
  letter-spacing: -0.03em;
  text-align: center;
  align-self: center;
  max-width: 910px;
}

.review__slider-wrapper {
  position: relative;
  margin-bottom: 14px;
}

.review__slider {}

.review__slide {
  display: flex !important;
  justify-content: center;
  margin-top: 76px;
  margin-bottom: 23px;
  flex-wrap: nowrap;
}

.review-slider-block {
  background: #FFFFFF;
  border: 1px solid rgba(172, 172, 172, 0.29);
  border-radius: 6px;
  max-width: 616px;
  padding: 72px;
  margin-right: 48px;
  float: left;
}

.review-slider-block:last-child {
  margin-right: 0;
  float: right;
}

.review__user {
  margin-bottom: 25px;
  white-space: nowrap;
}

.review__user-pfp {
  float: left;
  margin-right: 16px;
  border-radius: 50%;
  overflow: hidden;
}

.review__user-name {
  font-weight: 600;
  font-size: 24px;
  line-height: 150%;
  letter-spacing: -0.03em;
}

.review__user-location {
  line-height: 175%;
  color: #939191;
}

.review__text {
  font-size: 24px;
  line-height: 150%;
  letter-spacing: -0.03em;
  max-width: 472px;
}

.review__arrow {
  position: absolute;
  right: 0;
  margin-right: 72px;
  width: 48px;
  height: 48px;
  background: #FFFFFF;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color .5s, box-shadow .5s, transform .5s;
}

.review__arrow svg {
  transition: -webkit-filter .3s;
  transition: filter .3s;
  transition: filter .3s, -webkit-filter .3s;
}

.review__next {
  margin-right: 0;
}

.review__next svg {
  transform: rotate(180deg);
}

.review__arrow:hover {
  background: #1E1B1B;
  box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
  transform: scale(1.29);
  transition: background-color .3s, box-shadow .3s, transform .3s;
}

.review__arrow:hover svg {
  -webkit-filter: grayscale(100) brightness(200);
  filter: grayscale(100) brightness(200);
}



.review__dots .slick-dots {
  display: flex;
  justify-content: center;
  align-items: center;
}

.review__dots li {
  margin-right: 15px;
}

.review__dots li:last-child {
  margin-right: 0;
}

.review__dots .slick-active {}

.review__dots button {
  font-size: 0;
  background: transparent;
  width: 32px;
  height: 32px;
  display: flex;
  align-items: center;
}

.review__dots button::before {
  content: '';
  height: 4px;
  width: 100%;
  background: #939191;
}

.review__dots .slick-active button::before {
  content: '';
  height: 4px;
  width: 100%;
  background: #FF6433;
  transition: all .3s;
}

.slick-arrow {
  display: none !important;
}

/* ------------------------FAQ---------------------------- */
/* ------------------------FAQ---------------------------- */

.main__faq {}

.faq {
  background: #E2E6E9;
}

.faq__inner {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 128px 0;
}

.faq__title {
  font-weight: 800;
  font-size: 58px;
  line-height: 131.03%;
  text-align: center;
  letter-spacing: -0.03em;
  max-width: 760px;
}

.faq__question-list {
  margin-top: 86px;
}

.faq__question-box {
  background: #FFFFFF;
  margin-bottom: 12px;
  min-width: 896px;
  max-width: 896px;
  border-radius: 10px;
}

.faq__question-box:last-child {
  margin-bottom: 0;
}

.faq__link {
  padding: 40px;
  display: block;
}

.faq__question-head {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  margin-bottom: 16px;
}

.faq__question-marker {
  width: 51.08px;
  height: 48px;
  background: #FF6433;
  border-radius: 8px;
  margin-left: 15px;
}

.faq__question {
  font-size: 24px;
  line-height: 150%;
  letter-spacing: -0.03em;
  position: relative;
}

.faq__question-head::after,
.faq__question-head::before {
  content: '';
  position: absolute;
  width: 17px;
  height: 2px;
  background: #FFFFFF;
  border-radius: 50px;
  right: 16.5px;
  top: 50%;
}

.faq__question-head::after {
  transform: rotate(-90deg);
  transition: transform .4s;
}

.faq__link--active .faq__question-head::after {
  transform: rotate(0deg);
}

.faq__btn::before {
  content: '';
  width: 17.03px;
  height: 0px;
  border-top: 2px solid #FFFFFF;
  border-radius: 500px;
}

.faq__answer {
  font-size: 18px;
  line-height: 175%;
  color: #939191;
  max-width: 701px;
  margin-right: 30px;
  display: none;
}

/* -------------------FEEDBACK------------------------- */
/* -------------------FEEDBACK------------------------- */

.main__feedback {}

.feedback {}

.feedback__inner {
  padding-top: 121px;
  display: flex;
  flex-direction: column;
  position: relative;
}

.feedback__title {
  font-weight: 800;
  font-size: 64px;
  line-height: 131.25%;
  letter-spacing: -0.03em;
  max-width: 488px;
}

.feedback__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.feedback__forms {
  display: flex;
  flex-direction: column;
  border-radius: 2px;
  margin-bottom: 48px;
  margin-top: 48px;
  margin-right: 30px;
}

.feedback__input {
  margin-bottom: 4px;
  background: #F2F2F2;
  padding: 0 40px;
  height: 72px;
  width: 624px;
  background: #F2F2F2;
  transition: border .5s, box-shadow .5s;
  border-radius: 10px;
  border: 1px solid #F2F2F2;
  line-height: 175%;
  font-weight: 600;
  font-size: 16px;
  color: #1E1B1B;
  position: relative;
}

.feedback__input::-webkit-input-placeholder {
  font-weight: 600;
  font-size: 16px;
  color: #1E1B1B;
  opacity: 1;
  -webkit-transition: opacity .5s;
  transition: opacity .5s;
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
}

.feedback__input::-moz-placeholder {
  font-weight: 600;
  font-size: 16px;
  color: #1E1B1B;
  opacity: 1;
  -moz-transition: opacity .5s;
  transition: opacity .5s;
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
}

.feedback__input:-ms-input-placeholder {
  font-weight: 600;
  font-size: 16px;
  color: #1E1B1B;
  opacity: 1;
  -ms-transition: opacity .5s;
  transition: opacity .5s;
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
}

.feedback__input::-ms-input-placeholder {
  font-weight: 600;
  font-size: 16px;
  color: #1E1B1B;
  opacity: 1;
  -ms-transition: opacity .5s;
  transition: opacity .5s;
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
}

.feedback__input::placeholder {
  font-weight: 600;
  font-size: 16px;
  color: #1E1B1B;
  opacity: 1;
  transition: opacity .5s;
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
}

.feedback__input:focus::-webkit-input-placeholder {
  opacity: .4;
  -webkit-transition: opacity .4s;
  transition: opacity .4s;
}

.feedback__input:focus::-moz-placeholder {
  opacity: .4;
  -moz-transition: opacity .4s;
  transition: opacity .4s;
}

.feedback__input:focus:-ms-input-placeholder {
  opacity: .4;
  -ms-transition: opacity .4s;
  transition: opacity .4s;
}

.feedback__input:focus::-ms-input-placeholder {
  opacity: .4;
  -ms-transition: opacity .4s;
  transition: opacity .4s;
}

.feedback__input:focus::placeholder {
  opacity: .4;
  transition: opacity .4s;
}

.feedback__input:hover {
  border: 1px solid #FF6433;
  transition: border .3s;
}

.feedback__input:focus {
  border: 1px solid #F2F2F2;
  box-shadow: 0 0 0 .2rem rgba(255, 99, 51, 0.688);
  transition: box-shadow .4s;
}

.feedback__contacts {}

.feedback__contact-list {
  margin-bottom: 30px;
}

.feedback__contact-list-item {
  margin-bottom: 32px;
  max-width: 479px;
}

.feedback__contact-list-item:last-child {
  margin-bottom: 0;
}

.feedback__contact-title {
  line-height: 150%;
  opacity: 0.7;
  margin-bottom: 2px;
}

.feedback__contact-desc {
  font-size: 24px;
  line-height: 150%;
  letter-spacing: -0.03em;
}

.feedback__btn {
  font-weight: 600;
  font-size: 18px;
  line-height: 175%;
  max-width: 206px;
}

.feedback__map {
  margin-top: 178px;
  max-width: 1280px;
  height: 512px;
  z-index: 10;
}

/* ---------------------FOOTER------------------------------- */
/* ---------------------FOOTER------------------------------- */

.footer {}

.footer__inner {
  position: relative;
}

.footer__img {
  position: absolute;
  max-width: 100%;
  height: 448px;
  top: -168px;
  z-index: 2;
}

.footer__body {
  padding: 408px 0 129px;
  background: #1E1B1B;
  opacity: 0.98;
  z-index: -10;
}

.container--ft-body {
  display: flex;
  justify-content: space-between;
}

.footer__heading {
  display: flex;
  flex-direction: column;
  margin-right: 30px;
}

.footer__title {
  font-weight: 700;
  font-size: 48px;
  line-height: 140%;
  letter-spacing: -0.03em;
  color: #FFFFFF;
  max-width: 463px;
  margin-bottom: 64px;
}

.footer__socials-list {
  display: flex;
  justify-content: space-between;
  max-width: 167px;
}

.footer__socials-list-item {}

.footer__socials-list-item svg {
  opacity: .3;
  transition: opacity .5s;
}

.footer__socials-list-item:hover svg {
  opacity: 1;
  transition: opacity .3s;
}


.footer__contacts {}

.footer__contact-list {}

.footer__contact-list-item {
  margin-bottom: 32px;
}

.footer__contact-list-item:last-child {
  margin-bottom: 0;
}

.footer__contact-title {
  font-size: 18px;
  line-height: 175%;
  color: #FFFFFF;
  opacity: 0.6;
  margin-bottom: 8px;
}

.footer__contact-desc {
  font-size: 24px;
  line-height: 150%;
  letter-spacing: -0.03em;
  color: #FFFFFF;
}

.footer__bottom {
  background: #1E1B1B;
  height: 157px;
}

.container--ft-btm {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.footer__logo {
  margin-right: 30px;
}

.logo {}

.footer__nav {
  margin-right: 30px;
}

.footer__nav-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer__nav-item {
  line-height: 175%;
  color: #FFFFFF;
  margin-right: 36px;
}

.footer__nav-item:last-child {
  margin-right: 0;
}

.footer__nav-link {
  transition: color .5s;
}

.footer__nav-link:hover {
  color: #FF6433;
  transition: color .3s;
}

.footer__rights {
  line-height: 175%;
  color: #939191;
}

/* -------------------------MEDIA-------------------------- */
/* -------------------------MEDIA-------------------------- */

/* ==========================1320========================== */
@media (max-width: 1320px) {
  .blog__list-item {
    width: 350px;
    margin-right: 10px;
  }

  .blog__post-img {
    width: 350px;
  }

  .blog__list {
    gap: 0;
    justify-items: center;
  }

  .blog__post-title, .blog__post-desc, .blog__list-item {
    max-width: none;
  }
}

/* ==========================1200========================== */
@media (max-width: 1200px) {
  .header__title {
    font-size: 52px;
    max-width: 470px;
  }

  .header__image {
    max-width: 500px;
  }

  /* ------------------------------------------------------ */

  .about__title {
    font-size: 50px;
  }

  /* ------------------------------------------------------ */

  .process__title {
    font-size: 50px;
  }

  /* ------------------------------------------------------ */

  .brands__title {
    font-size: 50px;
  }

  /* ------------------------------------------------------ */

  .blog__title {
    font-size: 50px;
  }

  /* ------------------------------------------------------ */

  .review-title {
    font-size: 50px;
  }

  /* ------------------------------------------------------ */

  .faq__title {
    font-size: 50px;
  }
}

/* ==========================1100========================== */
@media (max-width: 1100px) {
  .burger {
    display: block;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 150;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    transition: all .3s;
  }

  .burger--follow {
    top: 15px;
    right: 15px;
    box-shadow: 3px 6px 10px 0px #8d8d8d85;
    background: #e2e6e9df;
  }

  .burger--close {
    transform: translateY(-5px);
  }

  .burger--close::before {
    visibility: hidden;
    transition: all 0s !important;
  }

  .burger--close span {
    transform: rotate(45deg) translate(6px, 6px);
  }

  .burger--close::after {
    transform: rotate(-45deg);
  }

  .burger span {
    display: block;
    height: 4px;
    width: 30px;
    border-radius: 10px;
    background: #1E1B1B;
    opacity: .6;
    margin: 5px 0;
    transition: all .3s;
  }

  .burger::after, .burger::before {
    content: '';
    display: block;
    height: 4px;
    width: 30px;
    border-radius: 3px;
    background: #1E1B1B;
    opacity: .6;
    transition: all .3s;
  }

  .header__top {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    background: #E2E6E9;
    z-index: 100;
    min-width: 320px;
    transform: translateX(100%);
    transition: all .3s;
  }

  .header__top--open {
    transform: translateX(0%);
  }

  .header__top-inner {
    flex-direction: column;
    height: 100%;
    justify-content: space-between;
    padding: 70px 0;
  }

  .header__logo {
    margin: 0 0 30px 0;
  }

  .header__nav {
    margin: 0;
  }

  .header__nav-list {
    flex-direction: column;
    align-items: center;
  }

  .header__nav-item {
    margin: 0;
    padding: 30px;
  }

  .header__nav-link {}

  .header__nav-item::after {
    display: none;
  }

  .header__tel-box {
    margin: 20px;
  }

  .header {
    padding-top: 153.5px;
  }

  /* ------------------------------------------------------ */

  .process__content {
    margin-right: 30px;
  }

  /* ------------------------------------------------------ */

  .blog__list-item {
    width: 330px;
    margin-right: 20px;
  }

  .blog__post-img {
    width: 330px;
  }

  .blog__post-title {
    font-size: 28px;
  }

  /* ------------------------------------------------------ */

  .faq__question-box {
    min-width: 740px;
  }
}

/* ==========================980=========================== */
@media (max-width: 980px) {
  .header__right-box {
    display: none;
  }

  .adaptive-rectangle {
    width: 300px;
  }

  .header__adaptive-rectangles-box {
    display: flex;
    margin-top: 40px;
    margin-left: 10px;
    flex-wrap: wrap;
  }

  .header__adaptive-service {
    display: flex;
    align-items: center;
    margin-right: 50px;
  }

  .header__adaptive-rating {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #000000;
    padding: 21px 200px 21px 38px;
    position: relative;
  }

  .header__adaptive-rating::after {
    content: "";
    background: url("../images/header/Stars.svg") no-repeat;
    position: absolute;
    top: 50%;
    left: 50%;
    height: 36px;
    width: 185px;
    transform: translate(-50%, -50%);
    justify-self: end;
    margin-left: 43px;
  }

  /* ---------------------------------------------------- */

  .about__title {
    font-size: 48px;
  }

  .about__offers-box {
    grid-template: repeat(4, 1fr) / repeat(2, 1fr);
  }

  /* ------------------------------------------------------ */

  .process__title {
    font-size: 40px;
  }

  .process__steplist-title {
    font-size: 26px;
  }

  .process__steplist-desc {
    font-size: 16px;
  }

  /* ------------------------------------------------------ */

  .experience__rectangle {
    width: 150%;
    margin: 0 -15px;
    position: relative;
    left: 0;
  }

  .experience__img {
    display: none;
  }

  .experience__title {
    font-size: 46px;
  }

  .experience__desc {
    font-size: 20px;
  }

  /* ------------------------------------------------------ */

  .blog__list {
    grid-template: repeat(3, 1fr) / repeat(2, 1fr);
  }

  .blog__list-item, .blog__post-img {
    width: 375px;
  }

  .blog__list-item:nth-child(2n) {
    margin-right: 0;
  }
}

/* ==========================900=========================== */
@media (max-width: 900px) {
  .about__title {
    font-size: 44px;
  }

  /* ------------------------------------------------------ */

  .process__inner {
    flex-wrap: wrap;
    padding: 100px 50px;
  }

  .process__steps {
    margin-left: 60px;
  }

  .process__title {
    max-width: none;
    width: 100%;
  }

  .process__content {
    margin-right: 0;
    padding-right: 0;
  }

  /* ------------------------------------------------------ */

  .experience__list-item {
    margin-right: 30px;
  }

  .experience__list-item:last-child {
    margin-right: 0;
  }

  /* ------------------------------------------------------ */

  .review__slide {
    flex-wrap: wrap;
  }

  .review-slider-block {
    margin: 0 0 30px;
    width: 100%;
  }

  .review__prev {
    left: 0;
  }

  /* ------------------------------------------------------ */

  .faq__inner {
    padding: 80px 0;
  }

  .faq__title {
    font-size: 46px;
  }

  .faq__question-box {
    min-width: 0px;
    width: 92vw;
  }
}


/* ==========================740=========================== */

@media (max-width: 740px) {
  .header__adaptive-service {
    margin-bottom: 50px;
  }

  .about__title {
    font-size: 38px;
  }

  /* ------------------------------------------------------ */

  .experience__heading {
    font-size: 44px;
  }

  .experience__title {
    font-size: 40px;
  }

  .experience__rectangle {
    padding: 0 20px;
  }

  /* ------------------------------------------------------ */

  .brands__title {
    font-size: 38px;
  }

  .brands__inner {
    padding-top: 70px;
  }

  .brands__box {
    margin: 10px 0 40px;
  }

  /* ------------------------------------------------------ */

  .blog__list-item, .blog__post-img {
    width: 290px;
  }

  .blog {
    padding: 70px 0 72px;
  }

  .blog__btn-list {
    margin: 30px 0;
  }

  /* ------------------------------------------------------ */

  .review-title {
    font-size: 40px;
  }

  /* ------------------------------------------------------ */

  .faq__title {
    font-size: 40px;
  }

  .faq__question-list {
    padding: 0 20px;
    margin-top: 60px;
  }

  .faq__answer {
    font-size: 16px;
  }
}

/* ==========================600=========================== */

@media (max-width: 600px) {
  .about__title {
    font-size: 26px;
  }

  /* ------------------------------------------------------ */

  .experience__heading {
    font-size: 36px;
  }

  .experience__rectangle {
    height: 400px;
  }

  /* ------------------------------------------------------ */

  .blog__list {
    grid-template: repeat(6, 1fr) / 1fr;
    padding: 0 15px;
  }

  .blog__list-item, .blog__post-img {
    width: 100%;
    margin-right: 0;
  }

  /* ------------------------------------------------------ */

  .faq__title {
    font-size: 32px;
  }

  .faq__question {
    font-size: 19px;
  }

  .faq__question-marker {
    width: 9vw;
    height: 9vw;
  }

  .faq__question-head::after, .faq__question-head::before {
    width: 4vw;
    right: calc(4.5vw - 2vw);
  }
}

/* ==========================500=========================== */

@media (max-width: 500px) {
  .header__top {
    width: 100%;
  }

  /* ------------------------------------------------------ */
  .header__title {
    max-width: none;
    font-size: 40px;
  }

  .header__content {
    margin: 0;
  }

  .header__btn-box {
    flex-direction: column;
    align-items: flex-start;
  }

  .header__btn {
    margin: 0 0 30px 0;
  }

  .header__play-btn {
    margin-left: 20px;
  }

  /* ------------------------------------------------------ */
  .adaptive-rectangle {
    transform: scale(.9);
    -webkit-transform: scale(.9);
    -moz-transform: scale(.9);
    -ms-transform: scale(.9);
    -o-transform: scale(.9);
  }

  .header__adaptive-service {
    margin-bottom: 35px;
  }

  .header__adaptive-rectangles-box {
    margin-left: 0;
  }

  /* ------------------------------------------------------- */

  .about__offers-box {
    grid-template: repeat(8, 1fr) / 1fr;
  }

  /* ------------------------------------------------------- */

  .process__title {
    font-size: 32px;
  }

  .process__steplist-title {
    font-size: 22px;
  }

  .process__steps {
    margin-left: 45px;
  }

  /* ------------------------------------------------------- */

  .experience__list {
    display: grid;
    grid: 1fr 1fr / 1fr 1fr;
  }

  .experience__list-item {
    margin-right: 10px;
  }

  .experience__list-item:nth-child(2n) {
    margin-right: 0;
  }

  .experience__heading {
    font-size: 30px;
  }

  .experience__rectangle {
    height: 330px;
  }

  /* ------------------------------------------------------- */

  .blog__title {
    font-size: 38px;
  }

  .blog__btn {
    font-size: 28px;
  }

  .blog__btn-list-item {
    margin-right: 25px;
  }

  /* ------------------------------------------------------ */

  .review-title {
    font-size: 38px;
  }

  .review__text {
    font-size: 20px;
  }

  .review__user-name {
    font-size: 20px;
  }

  /* ------------------------------------------------------ */

  .faq__title {
    font-size: 30px;
  }

  .faq__question-list {
    margin-top: 40px;
  }

  .faq__link {
    padding: 30px;
  }

  .faq__question {
    font-size: 17px;
  }
}

/* ==========================380============================= */

@media (max-width: 380px) {
  .header__title {
    font-size: 32px;
  }

  .header__work-desc {
    font-size: 16px;
  }

  /* -------------------------------------------------------- */

  .brands__title {
    font-size: 30px;
  }

  /* -------------------------------------------------------- */

  .blog__post-title {
    font-size: 26px;
  }

  /* -------------------------------------------------------- */

  .review-title {
    font-size: 30px;
  }

  .review__text {
    font-size: 18px;
  }
  /* -------------------------------------------------------- */

  .faq__answer {
    font-size: 14px;
  }
}